@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Fraunces:opsz,wght@9..144,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .barlow {
    font-family: "Barlow", sans-serif;
  }
  .fraunces {
    font-family: "Fraunces", serif;
  }
  .home-poster-mobile {
    background-image: url(./assets/home/mobile/image-hero-coffeepress.jpg);
  }

  .home-poster-tablet {
    background-image: url(./assets/home/tablet/image-hero-coffeepress.jpg);
  }
  .home-poster-desktop {
    background-image: url(./assets/home/desktop/image-hero-coffeepress.jpg);
  }
  .about-poster-mobile {
    background-image: url(./assets/about/mobile/image-hero-whitecup.jpg);
  }
  .about-poster-tablet {
    background-image: url(./assets/about/tablet/image-hero-whitecup.jpg);
  }
  .about-poster-desktop {
    background-image: url(./assets/about/desktop/image-hero-whitecup.jpg);
  }
  .commitment-poster-mobile {
    background-image: url(./assets/about/mobile/image-commitment.jpg);
  }
  .commitment-poster-tablet {
    background-image: url(./assets/about/tablet/image-commitment.jpg);
  }
  .commitment-poster-desktop {
    background-image: url(./assets/about/desktop/image-commitment.jpg);
  }
  .quality-poster-mobile {
    background-image: url(./assets/about/mobile/image-quality.jpg);
  }
  .quality-poster-tablet {
    background-image: url(./assets/about/tablet/image-quality.jpg);
    background-size: 100% 320px;
  }
  .quality-poster-desktop {
    background-image: url(./assets/about/desktop/image-quality.jpg);
    background-size: 100% 100%;
  }
  .subscribe-poster-mobile {
    background-image: url(./assets/plan/mobile/image-hero-blackcup.jpg);
  }
  .subscribe-poster-tablet {
    background-image: url(./assets/plan/tablet/image-hero-blackcup.jpg);
  }
  .subscribe-poster-desktop {
    background-image: url(./assets/plan/desktop/image-hero-blackcup.jpg);
  }
  .transform-menu {
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .text-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0.0001) 0%,
      #fefcf7 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cardsBackground {
    background-image: url(./assets/home/mobile/card-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 902px;
  }

  .cards-background-tablet {
    background-image: url(./assets/home/tablet/cards-bg-tablet.png);
    background-repeat: no-repeat;
    background-size: 100% 573px;
  }
  .card-background-desktop {
    background-image: url(./assets/home/desktop/card-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 577px;
  }
}
